<div id="container">

  <h1>Financial Exchange Dashboard</h1>

    <h3>This is a dashboard representing your financial exchanges.</h3>

      <p id="negative"><%=Exchange.negative_balance%></p>

      <p>The total amount in your account is:</p>
        <p id="information" >$<%=Exchange.sum_exchanges%></p>

      <p>The total number of exchanges over all time is:</p>
        <p id="information"> <%=Exchange.number_exchanges%></p>

      <p>The total number of transactions in the current calendar month is:</p>
      <p id="information"><%=Exchange.number_exchanges_this_month%></p>

      <p>The largest expense ever made is:</p>
        <p id="information"> <%=Exchange.largest_expense%></p>

      <p>The most expensive recipient is:</p>
        <p id="information"> <%=Exchange.expensive_company%></p>

      <p id="link"><%= link_to 'All Exchanges', exchanges_path %>
        &nbsp;&nbsp;
        <%= link_to 'New Exchange', new_exchange_path %></p>

</div>
